/* 
  BUTTON
*/
.btn-root-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-root-secondary {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.btn-root-primary-outline {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.btn-root-secondary-outline {
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  font-weight: bold;
}

.btn-root-secondary:hover, .btn-root-primary:hover {
  background-color: var(--text-color);
  color: #fff!important;
} 

.btn-root-primary-outline:hover {
  background-color: var(--primary-color);
  color: #fff!important;
} 

.btn-root-secondary-outline:hover {
  background-color: var(--secondary-color);
  color: #fff!important;
} 

.btn-root-secondary-trans {
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
} 
.btn-root-secondary-trans:hover {
  background-color: #fff;
  border: 2px solid #fff;
  color: var(--primary-color);;
} 

.btn-root-primary-outline-grad {
  background: linear-gradient(#fff, #fff) padding-box,                                                  linear-gradient(to right, #6E07F3, #a35cff) border-box;
  border: 2px solid transparent;
  color: var(--primary-color);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
} 

.btn-root-primary-outline-grad:hover {
  background: linear-gradient(to right, #6E07F3, #a35cff)padding-box,                                                    linear-gradient(to right, #6E07F3, #a35cff) border-box;
  color: #fff!important;
} 



/* 
  BACKGROUND
*/
.bg-root-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.bg-root-secondary {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.bg-tertiary {
  background-color: var(--tertiary-color);
  color: var(--text-color);
}


/* 
  TEXT
*/
.text-color {
  color: var(--text-color);
}

.text-root-primary {
  color: var(--primary-color);
}

.text-root-secondary {
  color: var(--secondary-color);
}

.text-root-tertiary {
  color: var(--tertiary-color);
}

.text-root-primary-grad {
  background: linear-gradient(to bottom right, #6E07F3, #cba8fa);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.text-root-secondary-grad {
  background: linear-gradient(to bottom right, #ffb71c, #ffda8b, #FFC448);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}


.link-root-dark {
  color: #1f1f1f;
  text-decoration: none;
  font-weight: 800;
}

.link-root-dark:hover {
  color: var(--tertiary-color);
}

.link-root-primary {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 900;
}

.link-root-primary:hover {
  color: #1f1f1f;
}

.shadow-root {
  box-shadow: var(--shadow);
}
.shadow-root-lg {
  box-shadow: var(--shadow-lg);
}

/* 
  ELSE
*/
.border-bottom-hr {
  border-image: linear-gradient(to right, #6E07F3, #a35cff) 1;
  border-bottom: 2px solid transparent;
  width: 50px;
  margin: 10px 0;
}